spring:
  datasource:
    username: example
    password: example
    url: jdbc:postgresql://localhost:5432/example
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://auth.example.com/some/path
springdoc:
  swagger-ui:
    oauth:
      client-id: < id >

th1:
  snapshot:
    dir: ./shared-snapshots
  security:
    authorization-url: https://auth.example.com/some/path
    token-url: https://auth.example.com/some/path
    objectstorage:
      type: s3
      s3:
        access-key: <access key>
        secret-key: <secret key>
        url: http://localhost:3900
        bucket:
          name: th1-bucket