name: Validate JS Client

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate
        run: |
          cd frontend/js-client
          ./generate.sh
          git diff --exit-code --name-only
